#first {
  color: #7fffd4;
}
#second {
  color: #5f9ea0;
}
.title {
  font-size: 50px;
}
#box {
  background-color: #d2691e;
}
#otherBox {
  background-color: #5f9ea0;
}

.tables {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}
